.contact-form {
    width: 72%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contact-input {
        grid-column: 1/3;
        margin-top: 25px;
        border: none;
        border-bottom: 1px solid #777777;
        padding-bottom: 9px;
    }

    .contact-input::placeholder {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .deco-icons{
        margin-top: 46px;
        grid-column: 1/2;
        display: flex;
        gap: 33px;
    }

    .button-send{
        margin-top: 46px;
        display: flex;
        justify-content: flex-end;
    }

}