.footer-main-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .col-one {
        grid-column: 1/2;

        p {
            margin-top: 30px;
            font-weight: 300;
            font-size: 14px;
            line-height: 159%;
        }
    }

    .col-two {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 8%;

        .col-title {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            grid-column: 1/2;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
        }

        .col-data {
            grid-column: 2/3;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
        }

        .newsletter-input{
            width: 90%;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #FFFFFF;
            padding-bottom: 10px;
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 33px;

        }

        .newsletter-input::placeholder{
            color: #ffffff;
            font-size: 14px;
            font-family: 'Unbounded';
        }
    }

    .col-three {
        grid-column: 3/4;
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 8%;

        .col-title {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            grid-column: 1/2;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 22px;
            line-height: 27px;
        }

        .col-data {
            grid-column: 2/3;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            .contact-link{
                margin-top: 20px;
                display: block;
                color: #ffffff;
            }
        }

    }
    .deco-icons-all{
        grid-column: 1/3;
        display: inline-flex;
        margin-top: 89px;
        margin-bottom: 89px;
        gap: 16px;
    }
}

@media (max-width: 1500px){
    .footer-main-container .col-one p{
        font-size: 12px;
    }
    .footer-main-container .col-two .col-title,
    .footer-main-container .col-three .col-title{
        font-size: 18px;
    }

    .footer-main-container .col-two .col-data,
    .footer-main-container .col-three .col-data{
        font-size: 12px;
        line-height: 18px;
    }
}

@media (max-width: 1300px){
    .col-one img{
        max-width: 200px;
    }
    .footer-main-container .col-one p{
        font-size: 10px;
    }

    .footer-main-container .col-two .col-title, 
    .footer-main-container .col-three .col-title {
        font-size: 14px;
    }

    .footer-main-container .col-two .col-data, 
    .footer-main-container .col-three .col-data {
        font-size: 10px;
        line-height: 16px;
    }

    .col-two .col-data p br{
        display: none;
    }


}