.bottom-bar-container{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    margin-bottom: 67px;
    
    .col-one{
        grid-column: 1/2;
        padding-right: 5%;
        display: flex;
        justify-content: space-between;
    }

    .col-two{
        grid-column: 2/3;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .gray-link{
            color: #777777;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .col-three{
        grid-column: 3/4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p{
            font-size: 16px;
            font-weight: 300;

        }
    }
}

@media (max-width: 1700px){
    .bottom-bar-container .col-three p{
        font-size: 14px;
    }
}
@media (max-width: 1500px){
    .bottom-bar-container .col-three p{
        font-size: 12px;
    }

}

@media (max-width: 1300px){
    .bottom-bar-container .col-two .gray-link{
        font-size: 9px;

    }

    .bottom-bar-container .col-three p {
        font-size: 9px;
    }

    .bottom-bar-container .col-one img{
        max-width: 25px;
    } 
}

@media (max-width: 1024px){
    .bottom-bar-container .col-three p{
        font-size: 8px;
    }
}

@media (max-width: 768px){
    .bottom-bar-container .col-one,
    .bottom-bar-container .col-two,
    .bottom-bar-container .col-three{
        grid-column: 1/5;
        margin-top: 10px;
    }

    .bottom-bar-container .col-three{
        justify-content: center;
    }

    .bottom-bar-container {
        margin-bottom: 20px;
    }

}