.header-main {
    display: grid;
    grid-template-columns: 60% 40%;

    .col-one {
        padding-top: 64px;
        grid-column: 1/2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .col-two {
        padding-top: 64px;
        grid-column: 2/3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

   

}