.hero-section {
    display: grid;
    grid-template-columns: 34% 66%;
    max-width: 100vw;

    .left-column {
        padding-top: 245px;
        overflow: visible;
        z-index: 20;

        .hero-description {
            width: 100%;
            display: grid;
            grid-template-columns: 505px 1fr;

            .description-left {
                grid-column: 1/2;

                .description-text {
                    margin-top: 50px;
                    font-size: 14px;
                    line-height: 22px;
                }

                .round-text-div {
                    margin-top: 90px;
                }
            }

            .description-right {
                grid-column: 2/3;
                overflow: visible;

                .deco-ico-1 {
                    margin-top: -22px;
                }

                .deco-ico-2,
                .deco-ico-3 {
                    margin-top: 10px;
                }
            }
        }
    }

    .right-column {
        position: relative;
        z-index: 10;

        .video-container {
            min-width: 80%;
            max-width: 800px;
            height: 99vh;
            overflow: hidden;
            position: relative;
            margin-right: 50px;
            margin-left: auto;
        }

        .video-container::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 1;
            opacity: 0.5;
        }

        .we-invite-you{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}