.white-menu-section{
    background-color: #ffffff;
    padding: 149px 142px 149px 142px;

    .white-menu-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        .white-menu-left{
            grid-column: 1/2;
        }

        .white-menu-right{
            grid-column: 2/3;
            margin-top: 284px;

            .white-menu-right-grid{
                display: grid;
                grid-template-columns: 10% 1fr;
                
            }

            .number{
                grid-column: 1/2;
                display: flex;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;

                span{
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .title{
                grid-column: 2/3;
                padding-top: 20px;
                padding-bottom: 20px;


                h4{
                    font-size: 30px;
                    font-weight: 500;
                    display: inline;
                }

                h4:hover{
                    cursor: pointer;
                }
                .arrow-right{
                    display: inline;
                    padding-left: 24px;
                    transition: all 500ms;
                }

                .arrow-right:hover{
                    cursor: pointer;
                }

                .arrow-right-active{
                    transform: rotateZ(90deg) translate(-25%, -50%);
                    transition: all 500ms;
                }



                .description-parent{
                    max-width: 590px;
                    height: 0px;
                    overflow: hidden;
                    transition: all 700ms;

                    .description-child{
                         border-bottom: 1px solid black;
                         padding-bottom: 38px;
                    }



                    p{
                        padding-bottom: 38px;
                    }
                }

                .description-parent-active{
                    
                   
                }
            }
          
        }

    }

    h3{
        color: #000000;
        font-size: 50px;
        line-height: 72px;
        font-weight: 400;
    }

    p{
        color: #000000;
        margin-top: 42px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;

    }

    span{
        color: #000000;
    }

    h4{
        color: #000000;
    }





}